/*nighttime


background: #141E30;
background: -webkit-linear-gradient(to left, #141E30 , #243B55); 
background: linear-gradient(to left, #141E30 , #243B55);
        
*/

/*daytime


background: #E0EAFC; 
background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3);
background: linear-gradient(to left, #E0EAFC , #CFDEF3); 
*/
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    /*background: #E0EAFC; 
    background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3);
    background: linear-gradient(to left, #E0EAFC , #CFDEF3);*/
}

.container{
    margin: auto;
    width: 70%;
    padding: 2em 0 2em 0;
    height: 100vh;
    display:none;
}

h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
.partly-cloudy-night{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-image: url('../icons/cloudy.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.timeline{
    margin: 0 auto;
    width: 90%;
    height: 25px;
    background-color: red;
    display: -webkit-flex;
    display: flex;
}
.timeline-child{
    height: 25px;
    width: 10px;
    margin: 0 10px 0 10px;
background-color: cornflowerblue;
}

/*LOADER*/
.spinner {
  width: 70px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 40%; left: 0; bottom: 0; right: 0;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: black;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}